<ion-content>
  <div class="divAll" >
    <div *ngIf="isLoged">
      <label style=" color: white;" (click)="logout()">
        Sair
      </label>
      <div class="title">
        <img src="assets/imgs/logo2.png" class="logo_gestao">
        <div>
          <h3>
            Olá, {{cliente}} !
          </h3>
          <h6 >
              <ion-textarea   value="{{chave}}" row="6"  type="text"  [(ngModel)]="chave"></ion-textarea >
            
          </h6>
        </div>

      </div>
      <table style="width:100%;">
        <tbody>
          <tr>
            <td style="width: 70%; text-align: center;">
              <label>SMS Enviadas</label>
            </td>
            <td style="width: 30%; text-align: center;">
              <ion-badge color="secondary" style="width: 50px;">{{contador}}</ion-badge>
            </td>
          </tr>
          <br>
        </tbody>
      </table>
      <div style="text-align: center;">
        <div *ngIf="enableToSend">
          <ion-button color="success" style="width: 100%;"
            (click)="AtivarInsonia()">
            Insonia
          </ion-button>
          <ion-button [disabled]="!enableToSend" *ngIf="activeSender" color="danger"
            style="width: 100%; margin-top: 50px;" (click)="bt_eco()">
            Modo Segundo Plano
          </ion-button>
          <ion-button *ngIf="!activeSender" color="danger" style="width: 100%; background-color: red; color: white;"
            (click)="stopSms()">
            Parar
          </ion-button>
        </div>
        <div *ngIf="!enableToSend">
          <ion-button color="danger" style="width: 100%;" (click)="permissoes_sms()">
            Autorizar
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>